from gittip.utils import get_participant
^L

participant = get_participant(request)
if POST:
    import pdb; pdb.set_trace()
    participant.deactivate()
    request.redirect('/')

locked = False
tip_or_pledge = "tip"
title = participant.id      # used in the title tag
username = participant.id   # used in footer shared with on/$platform/ pages
github_account, twitter_account = participant.get_accounts_elsewhere()

^L
{% extends templates/base.html %}
{% block heading %}
<h2 class="top"><span>Deactivate</span></h2>
{% end %}
{% block box %}
    <div class="on-form">
        <form action="./deactivate.html" method="POST">
            <div class="lots-of-text">

                <ol>

                    <li>Your username will become available to others.</li>

                    <li>We will disconnect accounts such as Twitter.</li>

                    <li>We will invalidate your payment credentials.</li>

                    <li>We will retain your giving and receiving history, so
                    that those you gave to or received from will continue to
                    see a consistent view of their history.</li>

                </ol>

                <p>Thanks for giving us a try, and sorry it didn't work
                out.</p>

            </div>
            <div class="nav level-1">
                <button class="selected larger">Deactivate</button>
            </div>
        </form>
    </div>

</div>
{% end %}
